html {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #212121;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

/* :root {
  --white-color: #fff;
  --grey-color: #757575;
  --bg-icon: #f5f4fa;
  --main-color: #2196f3;
} */

img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-logo {
  font-family: "Raleway", sans-serif;
  color: $main-color;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  display: inline-block;
  margin-right: 95px;
}

.main-logo__header {
  color: #212121;
}

.nav-list__header-link {
  position: relative;
  display: flex;
  align-items: center;
  height: 80px;

  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__header-link:hover,
.nav-list__header-link:focus {
  color: $main-color;
  fill: $main-color;
}

.nav-list__header-link--underline::after {
  position: absolute;
  content: "";
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $main-color;
}

.nav-list {
  display: flex;
  padding: 0;
  list-style: none;
}

.nav-list__item + .nav-list__item {
  margin-left: 50px;
}
.auth-nav__item + .auth-nav__item {
  margin-left: 50px;
}
.auth-nav {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.auth-nav__header-contact {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  display: flex;
  align-items: center;
  color: $grey-color;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__header-contact:hover,
.auth-nav__header-contact:focus {
  color: $main-color;
  fill: $main-color;
}

.auth-nav__header-contact--center {
  align-items: flex-start;
}

.auth-nav__icon {
  color: #757575;
  margin-right: 10px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .phone {
  display: flex;
  align-items: flex-end;
} */

.hero__background {
  width: 1600px;
  background-color: $dark-bg;
  margin: auto;
}

.hero__overley {
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/img.studio/hero.jpeg");
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__title {
  width: 700px;
  text-align: center;
  margin: 0 auto;

  color: $white-color;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.hero__button {
  color: $white-color;
  background-color: $main-color;

  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  display: block;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: $white-color;
  color: $main-color;
}

.form {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}
.form-title {
  text-align: center;
  display: block;
  margin-bottom: 12px;
  text-align: center;

  font-size: 20px;
  line-height: 23px;
  color: #212121;
}
.form__icon {
  position: absolute;
  top: 30px;
  left: 5px;
  margin-left: 10px;

  width: 18px;
  height: 18px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label__name {
  position: relative;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
}

.form__input {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 50px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 10px;
  height: 40px;
}

.form__input:focus-within {
  outline: none;
  border: 1px solid $main-color;
}
.form__input:focus ~ .form__icon {
  fill: $main-color;
}

.form-label {
  display: flex;
  flex-direction: column;
}
.form__textarea {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  height: 120px;
}

.form__textarea:focus-within {
  outline: none;
  border: 1px solid $main-color;
}

.form-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-icon__check {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin-left: 13px;

  fill: $white-color;
  border: 1px solid #212121;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox__input:checked + .form-icon__check {
  position: absolute;
  fill: #2196f3;
  border: none;
}

.form-checkbox {
  display: block;
  position: relative;

  padding-left: 35px;
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
}

.modal__contract {
  color: $main-color;
}
.form-label textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
}

textarea {
  resize: none;
}
.form-button {
  display: block;

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  font-size: 16px;
  line-height: 30px;
  color: $white-color;
  background-color: $main-color;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 530px;
  height: 580px;
  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
  position: absolute;
  right: 2%;
  top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-width: 1px;
  padding: 0;
  border-radius: 50px;
  border-width: 1px;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover {
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  fill: $main-color;
}


.form__close-icon {
  width: 20px;
  height: 20px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.dignity__content {
  padding-top: 95px;
  padding-bottom: 95px;
}
.dignity-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.dignity__bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.dignity__features {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}
.dignity__subtitle {
  font-size: 14px;
  line-height: 1.71;
  color: $grey-color;
}
.dignity-list__item {
  width: 270px;
}
.dignity-list__item + .dignity-list__item {
  margin-left: 30px;
}
.programing {
  padding-bottom: 95px;
}
.programing-list {
  list-style: none;
  display: flex;
  margin-top: 50px;
}

.programing-list__item {
  position: relative;
}

.programing-list__item + .programing-list__item {
  margin-left: 30px;
}

.programing-discription {
  position: absolute;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $white-color;
}

.programing-discription__bg {
  position: absolute;
  bottom: 0;

  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team__backround {
  background-color: #f5f4fa;
  padding-top: 95px;
  padding-bottom: 95px;
}

.team-list {
  list-style: none;
  display: flex;
  margin-top: 50px;
  text-align: center;
}
.team__subtitle--pading {
  padding-bottom: 30px;
  padding-top: 30px;
}
.team-list__item + .team-list__item {
  margin-left: 30px;
}
.team-list__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__developers {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team__subtitle {
  color: $grey-color;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 10px;
  margin-bottom: 15px;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.social-list__icon {
  height: 20px;
  width: 20px;
}

.social-list__icon--white {
  fill: $white-color;
}

.social-list__item {
  margin-right: 10px;
}
.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  padding: 0;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background: rgba(255, 255, 255, 0.1);

  transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover,
.social-list__link:focus {
  cursor: pointer;
  background-color: $main-color;
  fill: $white-color;
}

.clients {
  padding-top: 95px;
  padding-bottom: 95px;
}

.clients-list {
  display: flex;
  list-style: none;
  margin-top: 50px;
}

.clients-list__item + .clients-list__item {
  margin-left: 30px;
}

.clients-list__border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__border:hover,
.clients-list__border:focus {
  cursor: pointer;
  fill: $main-color;
  border: 1px solid $main-color;
}

.clients-list__first-icon {
  width: 41px;
  height: 47px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__second-icon {
  width: 40px;
  height: 52px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__third-icon {
  width: 44px;
  height: 41px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__fourth-icon {
  width: 85px;
  height: 41px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__fifth-icon {
  width: 63px;
  height: 45px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__sixth-icon {
  width: 94px;
  height: 44px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* portfolio */

.header__border {
  border: 1px solid #ececec;
}


.project {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  margin-top: 50px;
}

.project--decor-off {
  text-decoration: none;
  display: block;
}

.project-buttons {
  list-style: none;
  display: flex;
  justify-content: center;
}
.project-buttons__item + .project-buttons__item {
  margin-left: 10px;
}
.project-buttons__title {
  cursor: pointer;
  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;

  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-buttons__title:hover,
.project-buttons__title:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: $main-color;
  color: $white-color;
}

.project__item {
  margin-right: 30px;
  margin-bottom: 30px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  width: 370px;
}
.project__item:nth-child(3n) {
  margin-right: 0;
}
.project__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.project__shadow {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__shadow:hover,
.project__shadow:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__subtitle-padding {
  padding: 20px 24px;
}
.project__subtitle {
  color: $grey-color;
  font-size: 16px;
  line-height: 1.87;

  width: 320px;
}
.project__names {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project--decor-off:hover .moving-discription {
  
  display: flex;
  padding: 24px;
  opacity: 1;
  transform: translateY(0);
}

.moving-discription {
  position: absolute;
  top: 0;
  left: 0;
  bottom: -2px;
  display: flex;
  padding: 24px;

  opacity: 1;
  height: auto;
  width: 100%;

  color: $white-color;
  font-size: 18px;
  line-height: 28px;
  font-style: normal;
  font-weight: normal;
  /* text-align: left; */
  background-color: $main-color;
  justify-content: flex-start;
  align-items: center;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__card {
  position: relative;
  overflow: hidden;
}

.footer__bg {
  margin-left: auto;
  margin-right: auto;
  background-color: $dark-bg;
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer__address {
  display: inline-block;
}
.main-logo__footer {
  color: $white-color;
}
.footer-webstudio {
  font-family: "Raleway", sans-serif;
  color: $main-color;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  display: inline-block;
}

.footer__location {
  color: $white-color;
  margin-top: 20px;
}
.footer-contact {
  list-style: none;
  margin-top: 10px;
}
.footer-contact__item {
  margin-top: 10px;
}

.footer__mail {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__mail:hover,
.footer__mail:focus {
  color: $main-color;
  fill: $main-color;
}

.footer__mail,
.footer__location {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.footer-link {
  display: inline-block;
  align-items: center;
  margin-left: 70px;
  padding-top: 0;
}
.footer-discription {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;

  margin-bottom: 20px;
}
.footer-social__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.footer-social__list .social {
  fill: $white-color;
  margin-right: 10px;
}

.footer-test {
  display: flex;
  align-items: baseline;
}

.footer-form {
  margin-left: auto;
}
.footer-form form {
  display: flex;
  align-items: center;
}

.footer-form input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: inherit;
  border-radius: 4px;
  height: 50px;
  width: 360px;
}
.footer-form button {
  padding: 10px 30px;
  margin-left: 12px;
  display: flex;
  align-items: center;

  color: $white-color;
  background-color: $main-color;

  border-radius: 4px;
  font-size: 16px;
  line-height: 30px;
}
.footer-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.footer-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
form input:focus-within {
  outline: none;
  border: 1px solid $main-color;
  color: $white-color;
}

