.team__backround {
  background-color: #f5f4fa;
  padding-top: 95px;
  padding-bottom: 95px;
}

.team-list {
  list-style: none;
  display: flex;
  margin-top: 50px;
  text-align: center;

  @extend %container;
}

.team__subtitle--pading {
  padding-bottom: 30px;
  padding-top: 30px;
}

.team-list__item + .team-list__item {
  margin-left: 30px;
}

.team-list__item {
  background: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__developers {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__subtitle {
  color: $grey-color;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 10px;
  margin-bottom: 15px;
}